<div id="reload">
    <div>
        <p>New message! Click <a href="javascript:void(0)" onclick="reload()">here</a> to reload.</p>
    </div>
    <div id="reload-cross">
        <p><a href="javascript:void(0)" onclick="closeReload()">x</a></p>
    </div>
</div>

<script>
    let socket = io();

    function reload() {
        location.reload();
    }

    function closeReload() {
        let div = document.getElementById("reload");
        div.style.display = "none";
    }

    socket.on("reload " + location.pathname, function (user) {
        if (user === "<%= username %>") {
            return;
        }
        let div = document.getElementById("reload");
        div.style.display = "flex";
    });
</script>