#topics {
    margin-top: 10px;
}

.topic {
    margin: 5px 0;
    padding: 5px 15px 5px 15px;
    border: 5px solid;
    border-image: linear-gradient(to bottom right, #50b050, #50d050) 1 stretch;
    overflow: auto;
}

.topic:hover {
    background-color: azure;
}

.topic p:first-of-type {
    font-weight: bold;
}

#welcome:hover {
    text-decoration: underline;
}
