<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Bar</title>
</head>
<body>
    <h1>Welcome!</h1>
    <p>Welcome to the bar!</p>
    <p>Hi, <%- username %>!</p>
    <p><a href="/logout">logout</a></p>
</body>
</html>