<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Account Center | bar-demo</title>
    <link type="text/css" rel="stylesheet" href="/account.css">
    <link type="text/css" rel="stylesheet" href="/header.css">
    <link type="text/css" rel="stylesheet" href="/footer.css">
    <link type="text/css" rel="stylesheet" href="/generic.css">
</head>

<body>
    <%- include("header") -%>
    <div id="mainbox">
        <h1>Account Center</h1>
        <hr class="colorful">

        <p>Username: <strong><%- name %></strong></p>
        <form action="/logout" method="GET">
            <button type="submit">Logout</button>
        </form>
        <hr>


        <h2>Change Password</h2>
        <hr>
        <form action="/change-password" method="POST">
            <p>Old password: <input type="password" name="oldPass"></p>
            <p>New password: <input type="password" name="newPass"></p>
            <button type="submit">Change</button>
        </form>

        <h2 class="dangerous">Dangerous Zone</h2>
        <hr>
        <p>Are you sure that you want to delete your account?</p>
        <form action="/delete-user" method="POST">
            <button type="submit" class="dangerous">Delete Account</button>
        </form>
    </div>
    <%- include("footer") -%>
</body>

</html>